<div class='form_view'>
  <%= simple_form_for @coupon, 
    :url => @coupon.new_record? ? manage_coupons_path : manage_coupon_path(@coupon), 
    :as => :coupon,
    :html => { :novalidate => true } do |f| %>
    <%= hidden_field_tag 'type', @type %>
    <%= f.input :kind, :as => :select, :selected => f.object.kind, :include_blank => false %>
    <%= f.input :categories, :as => :check_boxes , :wrapper_html => { :class => :category_list }%>
    <%= f.input :title %>
    <%= f.input :description, input_html: { class: 'coupon_description' }  %>

    <%  unless f.object.image_url? %>
      <%= f.input :image %>
    <% else %>
        <div class='input_with_image'>
        <%= image_tag f.object.image_url %>
        <%= link_to "удалить изображение", '#', class: :remove %>
        <%= f.input :image, wrapper_html: { class: :hidden } %>
      </div>
    <% end %>

    <%= render :partial => "#{f.object.type.underscore}_fields", :locals => { :f => f }  %>

    <div class="actions">
      <%= link_to "&larr; Назад".html_safe, :back %>
      <%= button_tag 'Сохранить'.html_safe %>
      <%= link_to 'Удалить'.html_safe, resource_path, method: :delete, confirm: 'Уверены что хотите удалить?', class: :destroy unless resource.new_record? %>
    </div>
  <% end %>
</div>
